[run]
source = calie
include = */calie/*,
omit = calie/visualisations/*
       calie/z_tests/*
       */z_*

[report]
include = */calie/*,
omit = calie/visualisations/*
       */z_*
       */__init__.py