[run]
source = VECtorsToolkit
include = */VECtorsToolkit/*,
omit = VECtorsToolkit/tools/visualisations/*
       VECtorsToolkit/agents/*
       VECtorsToolkit/z_tests/*
       */z_/*

[report]
include = */VECtorsToolkit/*,
omit = VECtorsToolkit/tools/visualisations/*
       VECtorsToolkit/agents/*
       */z_/*
       */__init__.py